# Import libraries

In [2]:
# import librareis
import pandas as pd
import numpy as np
import os

## path setting

In [3]:
f_path = r'C:\Users\Mei\Instacart Basket Analysis\02 Data'

In [4]:
f_path

'C:\\Users\\Mei\\Instacart Basket Analysis\\02 Data'

## import data of orders.csv

In [9]:
df = pd.read_csv(os.path.join(f_path,'Original data','orders.csv'),index_col = False)

## excluding eval_set and showing the first five records

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [11]:
var_list =['order_id','user_id','order_number','order_dow','order_hour_of_day','days_since_prior_order']

In [12]:
var_list

['order_id',
 'user_id',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

In [13]:
df1 = pd.read_csv(os.path.join(f_path,'Original data','orders.csv'),usecols = var_list)

In [14]:
df1.head(5)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

## import products.csv and show information of this df

In [17]:
df_prods = pd.read_csv(os.path.join(f_path,'Original data','products.csv'),index_col = False)

In [18]:
df_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [19]:
df_prods.shape

(49693, 5)

## descriptive analysis of df_prods

In [22]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [23]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49693 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

## the maximum of aisle_id is 134.00; the datatype of 'department_id' is int64