# Import dataset

### Note: in Subset part only a subset of 1million rows from the merged file are considered.

In [1]:
# import libraries
import numpy as np
import pandas as pd
import os

In [2]:
# set routs to the datasets
fpath = r'C:\Users\Mei\Instacart Basket Analysis\02 Data\Prepared data'

In [3]:
# import the dataset 
df = pd.read_pickle(os.path.join(fpath,'orders_products_merged.pkl'))

# Creating the price label in the entire dataset

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32406041 entries, 0 to 32406040
Data columns (total 16 columns):
 #   Column                  Dtype
---  ------                  -----
 0   product_id              int64
 1   product_name            object
 2   aisle_id                int64
 3   department_id           int64
 4   prices                  float64
 5   order_id                int64
 6   user_id                 int64
 7   eval_setting            object
 8   order_number            int64
 9   oder_day_of_week        int64
 10  order_hour_of_day       int64
 11  days_since_prior_order  float64
 12  add_to_cart_order       int64
 13  reordered               int64
 14  _merge                  category
 15  _merge2                 category
dtypes: category(2), float64(2), int64(10), object(2)
memory usage: 3.7+ GB

In [6]:
df.loc[df['prices'] <= 5, 'price_range'] = 'low_range product'
df.loc[(df['prices'] >5) & (df['prices']<= 15),'price_range'] = 'mid_range product'
df.loc[df['prices'] >15, 'price_range'] = 'high_range product'

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32406041 entries, 0 to 32406040
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   product_id              int64
 1   product_name            object
 2   aisle_id                int64
 3   department_id           int64
 4   prices                  float64
 5   order_id                int64
 6   user_id                 int64
 7   eval_setting            object
 8   order_number            int64
 9   oder_day_of_week        int64
 10  order_hour_of_day       int64
 11  days_since_prior_order  float64
 12  add_to_cart_order       int64
 13  reordered               int64
 14  _merge                  category
 15  _merge2                 category
 16  price_range             object
dtypes: category(2), float64(2), int64(10), object(3)
memory usage: 3.9+ GB

In [8]:
df['price_range'].value_counts()

mid_range product     21861997
low_range product     10126366
high_range product      417678
Name: price_range, dtype: int64

# Busy days grouping

In [9]:
df['oder_day_of_week'].value_counts()

0    6204404
1    5660456
6    4496635
2    4213986
5    4205906
3    3840701
4    3783953
Name: oder_day_of_week, dtype: int64

In [10]:
df.loc[(df['oder_day_of_week']==0)| (df['oder_day_of_week']==1),'Busy days'] = 'busiest days'
df.loc[(df['oder_day_of_week'] == 3) | (df['oder_day_of_week'] ==4), 'Busy days'] ='least days'
df.loc[(df['oder_day_of_week'] ==2) | (df['oder_day_of_week'] ==5)|(df['oder_day_of_week'] ==6),'Busy days'] = 'regularly busy'

In [11]:
df['Busy days'].value_counts()

regularly busy    12916527
busiest days      11864860
least days         7624654
Name: Busy days, dtype: int64

# Busy hours of day

In [12]:
df['order_hour_of_day'].value_counts()

10    2761862
11    2736242
14    2689251
15    2662246
13    2661057
12    2618613
16    2535313
9     2454273
17    2087721
8     1718182
18    1636566
19    1258352
20     976182
7      891082
21     795658
22     634247
23     402335
6      290500
0      218786
1      115706
5       87964
2       69377
4       53245
3       51281
Name: order_hour_of_day, dtype: int64

####  The hours in [0,6]: the hours are least hours, [9-16]: the hours are busiest hours; [17-23]: the hours are the regular busy period

In [13]:
df.loc[(df['order_hour_of_day']==0) |(df['order_hour_of_day'] ==1)|(df['order_hour_of_day']==2) |(df['order_hour_of_day'] ==3)|(df['order_hour_of_day']==4) |(df['order_hour_of_day'] ==5)|(df['order_hour_of_day']==6),'busiest_period_of_day'] = 'least orders'
df.loc[(df['order_hour_of_day']==9) |(df['order_hour_of_day'] ==10)|(df['order_hour_of_day']==11) |(df['order_hour_of_day'] ==12)|(df['order_hour_of_day']==13) |(df['order_hour_of_day'] ==14)|(df['order_hour_of_day']==15)| (df['order_hour_of_day'] == 16),'busiest_period_of_day'] = 'most orders'
df.loc[(df['order_hour_of_day']==7) |(df['order_hour_of_day'] ==8)|(df['order_hour_of_day']==17) |(df['order_hour_of_day'] ==18)|(df['order_hour_of_day']==19) |(df['order_hour_of_day'] ==20)|(df['order_hour_of_day']==21) |(df['order_hour_of_day'] ==22)|(df['order_hour_of_day']==23),'busiest_period_of_day'] = 'average orders'

In [14]:
df['busiest_period_of_day'].value_counts()

most orders       21118857
average orders    10400325
least orders        886859
Name: busiest_period_of_day, dtype: int64

In [15]:
df.head(3)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_setting,order_number,oder_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,_merge2,price_range,Busy days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both,both,mid_range product,regularly busy,most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both,both,mid_range product,regularly busy,average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both,both,mid_range product,busiest days,average orders

In [18]:
df = df.drop(columns = ['_merge','_merge2'])

In [20]:
df.rename(columns = {'Busy days':'busy days'}, inplace = True)

In [21]:
df.head(2)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_setting,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range,busy days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,mid_range product,regularly busy,most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,mid_range product,regularly busy,average orders

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32406041 entries, 0 to 32406040
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   product_id              int64
 1   product_name            object
 2   aisle_id                int64
 3   department_id           int64
 4   prices                  float64
 5   order_id                int64
 6   user_id                 int64
 7   eval_setting            object
 8   order_number            int64
 9   order_day_of_week       int64
 10  order_hour_of_day       int64
 11  days_since_prior_order  float64
 12  add_to_cart_order       int64
 13  reordered               int64
 14  price_range             object
 15  busy days               object
 16  busiest_period_of_day   object
dtypes: float64(2), int64(10), object(5)
memory usage: 4.3+ GB

In [23]:
df.to_pickle(os.path.join(fpath,'Entire_updated_merged.pkl'))

# Subset

## 1. Creating the price label

In [4]:
df_sub = df[:1000000]

In [5]:
## define a function to create the price label
def price_label(row):
    if row['prices'] <= 5:
        return 'low_range product'
    elif (row['prices']> 5) and (row['prices'] <= 15):
        return 'mid-range product'
    elif row['prices'] >15:
        return 'high-range product'
    else: return 'not enough data'

In [6]:
df_sub['price_range'] = df_sub.apply(price_label, axis = 1)

C:\Users\Mei\AppData\Local\Temp\ipykernel_11188\371204710.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub['price_range'] = df_sub.apply(price_label, axis = 1)

In [7]:
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 0 to 999999
Data columns (total 17 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   product_id              1000000 non-null  int64
 1   product_name            1000000 non-null  object
 2   aisle_id                1000000 non-null  int64
 3   department_id           1000000 non-null  int64
 4   prices                  1000000 non-null  float64
 5   order_id                1000000 non-null  int64
 6   user_id                 1000000 non-null  int64
 7   eval_setting            1000000 non-null  object
 8   order_number            1000000 non-null  int64
 9   oder_day_of_week        1000000 non-null  int64
 10  order_hour_of_day       1000000 non-null  int64
 11  days_since_prior_order  1000000 non-null  float64
 12  add_to_cart_order       1000000 non-null  int64
 13  reordered               1000000 non-null  int64
 14  _merge                  1000000 non-null  category
 15  _merge2                 1000000 non-null  category
 16  price_range             1000000 non-null  object
dtypes: category(2), float64(2), int64(10), object(3)
memory usage: 124.0+ MB

#### delete the rows '_merge' and '_merge2'

In [8]:
df_sub = df_sub.drop(columns = ['_merge','_merge2'])

In [9]:
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 0 to 999999
Data columns (total 15 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   product_id              1000000 non-null  int64
 1   product_name            1000000 non-null  object
 2   aisle_id                1000000 non-null  int64
 3   department_id           1000000 non-null  int64
 4   prices                  1000000 non-null  float64
 5   order_id                1000000 non-null  int64
 6   user_id                 1000000 non-null  int64
 7   eval_setting            1000000 non-null  object
 8   order_number            1000000 non-null  int64
 9   oder_day_of_week        1000000 non-null  int64
 10  order_hour_of_day       1000000 non-null  int64
 11  days_since_prior_order  1000000 non-null  float64
 12  add_to_cart_order       1000000 non-null  int64
 13  reordered               1000000 non-null  int64
 14  price_range             1000000 non-null  object
dtypes: float64(2), int64(10), object(3)
memory usage: 122.1+ MB

In [10]:
df_sub.head(5)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_setting,order_number,oder_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,mid-range product
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,mid-range product
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,mid-range product
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,7.0,10,0,mid-range product
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,mid-range product

#### The frequency acount of values of price_range

In [11]:
df_sub['price_range'].value_counts()

mid-range product     652593
low_range product     338063
high-range product      9344
Name: price_range, dtype: int64

# 2. 'Busy day' grouping

In [12]:
df_sub['oder_day_of_week'].value_counts()

0    183963
1    174071
6    137125
2    132018
5    132015
3    120879
4    119929
Name: oder_day_of_week, dtype: int64

In [15]:
result = []
for n in df_sub['oder_day_of_week']:
    if n == 0:
        result.append('busiest day')
    elif n == 4:
        result.append('least busy')
    else: result.append('regularly busy')

In [16]:
df_sub['Busy day'] = result

In [18]:
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 0 to 999999
Data columns (total 16 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   product_id              1000000 non-null  int64
 1   product_name            1000000 non-null  object
 2   aisle_id                1000000 non-null  int64
 3   department_id           1000000 non-null  int64
 4   prices                  1000000 non-null  float64
 5   order_id                1000000 non-null  int64
 6   user_id                 1000000 non-null  int64
 7   eval_setting            1000000 non-null  object
 8   order_number            1000000 non-null  int64
 9   oder_day_of_week        1000000 non-null  int64
 10  order_hour_of_day       1000000 non-null  int64
 11  days_since_prior_order  1000000 non-null  float64
 12  add_to_cart_order       1000000 non-null  int64
 13  reordered               1000000 non-null  int64
 14  price_range             1000000 non-null  object
 15  Busy day                1000000 non-null  object
dtypes: float64(2), int64(10), object(4)
memory usage: 129.7+ MB

# 3. 'Busy days' grouping

### Create a new column 'Busy days', and delete column 'Busy day' in the df

In [19]:
df_sub['oder_day_of_week'].value_counts()

0    183963
1    174071
6    137125
2    132018
5    132015
3    120879
4    119929
Name: oder_day_of_week, dtype: int64

In [20]:
result1 = []
for m in df_sub['oder_day_of_week']:
    if m == 0 or m ==1:
        result1.append('busiest days')
    elif m ==3 or m==4:
        result1.append('least days')
    else: result1.append('regularly busy')

In [21]:
df_sub['Busy days'] = result1

In [26]:
del result, result1

In [28]:
df_sub = df_sub.drop(columns = 'Busy day')

In [29]:
df_sub['Busy days'].value_counts()

regularly busy    401158
busiest days      358034
least days        240808
Name: Busy days, dtype: int64

#### The values for the new variable ' Busy days' is reliable as e.g., the number for 'busiest days' is the sum of frequencies of when 'oder_day_of_week' = 0 and =1

# 4. 'busiest_period_of_day' grouping

###  Create a new column 'busiest_period_of_day'

In [31]:
df_sub['order_hour_of_day'].value_counts()

10    86239
11    84784
14    83066
13    82268
15    81235
12    80543
16    77782
9     76870
17    64197
8     53293
18    50083
19    38584
20    30369
7     27543
21    24338
22    19128
23    12155
6      9090
0      6559
1      3576
5      2831
2      2174
3      1653
4      1640
Name: order_hour_of_day, dtype: int64

In [33]:
result2 = []
for value in df_sub['order_hour_of_day']:
    if value in range(7):
        result2.append('fewest orders')
    elif value in range(9,17):
        result2.append('most orders')
    else: result2.append('average orders')

In [35]:
df_sub['busiest_period_of_day'] = result2

In [37]:
df_sub['busiest_period_of_day'].value_counts()

most orders       652787
average orders    319690
fewest orders      27523
Name: busiest_period_of_day, dtype: int64

In [38]:
del result2

In [39]:
df_sub.to_pickle(os.path.join(fpath,'subset_merged.pkl'))